h1{
  padding-right: 1.8rem;
  padding-left: 1.8rem;  
  text-align: center;
  color:white;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1rem;
  background-color: white;

  resize: none;

  width: 100%;
  height: 36vh;

  border: 1px solid;
  
	border-radius: 2px;
}

.classe_textarea{
  padding-right: 10rem;
  padding-left: 10rem;
}


/*.btn_gerar{
  padding-top: 1rem;  
  padding-right: 10rem;
  padding-left: 10rem; 
}*/

.btn_gerar{
  border-radius: .5rem;
  float: right;
  font-size: 1rem;
}

.btn_gerar:hover{
  background-color: blue;
  color:white;
  transition: all 0.5s ease-in;
  transform: scale(1.1);
  transition: all 0.5s;
}

label {
  display: block;
    margin: 10px auto;
    float: center;
  }

  form {
 background-color: white;
  }